.views {
  background-color: #050505;
}

.head-primary {
  color: $primary;
  text-decoration: underline;
}

#insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topbar {
  background-color: darkgrey;
  border-radius: 20px 20px 0 0;
  padding-bottom: 0;

  p {
    color: black;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .fa-up-right-and-down-left-from-center {
    background-color: #34BB4F;
  }

  .fa-minus {
    background-color: #F0B024;
  }

  .fa-xmark {
    background-color: #E25756;
    padding: 5px 7px !important;
  }

  .fa-solid {
    border-radius: 20px;
    padding: 5px;
  }
}

.bottombar {
  border-radius: 0 0 20px 20px;
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: black;
}

.text-indigo {
  color: $indigo;
}

.skillcards {
  .col-12 {
    .container {
      background-color: #212121;
      color: white;
      border-radius: 20px;
      margin: 1.5rem 1rem;
      padding: 1rem 1rem;
    }
  }
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}

.text-orange {
  color: $orange;
}

.text-yellow {
  color: $yellow;
}

@media (min-width: 768px) {
  .views {
    height: 100vh;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .skillcards {
    .col-12 {
      .container {
        background-color: #212121;
        color: white;
        border-radius: 20px;
        margin: 1rem 0.2rem;
        padding: 1rem 1rem;
      }
    }
  }
}

.typethis {
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  font-family: 'Roboto Mono', monospace;
}
.typethis2 {
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  font-family: 'Roboto Mono', monospace;
}

.foranimate{
  border-right: .15em solid $primary; /* The typwriter cursor */
  animation: typing 1.5s steps(13, end),
  blink-caret .5s step-end infinite;
}
.foranimate2{
  border-right: .15em solid $primary; /* The typwriter cursor */
  animation: typing 3s steps(25, end),
  blink-caret .5s step-end infinite;
}
.foranimate3{
  border-right: .15em solid $primary; /* The typwriter cursor */
  animation: typing 5s steps(25, end),
  blink-caret .5s step-end infinite;
}
.foranimate4{
  border-right: .15em solid $primary; /* The typwriter cursor */
  animation: typing 5s steps(25, end),
  blink-caret .5s step-end infinite;
}
.foranimate5{
  border-right: .15em solid $primary; /* The typwriter cursor */
  animation: typing 5s steps(25, end),
  blink-caret .5s step-end infinite;
}
.foranimate6{
  border-right: .15em solid $primary; /* The typwriter cursor */
  animation: typing 5s steps(25, end),
  blink-caret .5s step-end infinite;
}
.foranimate7{
  border-right: .15em solid $primary; /* The typwriter cursor */
  animation: typing 5s steps(25, end),
  blink-caret .5s step-end infinite;
}

///* The typing effect */
@keyframes typing {
  from { width:0 }
  to { width: 100% }
}
//
///* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: rgba(158, 36, 210, 0.5)
  }
  50% { border-color: $primary; }
}
code{
  font-family: 'Roboto Mono', monospace;
}
.w-0{
    width: 0;
}